<!DOCTYPE html>
<html th:fragment="layout (mainSection, scriptSection)" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Yu's Algolithm Note</title>

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/sidebar.css">
  <link rel="stylesheet" href="/assets/css/common.css">
</head>

<body class="app-body">
<main class="main" id="top">
  <div th:replace="layout/navbar :: navbar"></div>

  <section class="content-section">
    <div class="container content-wide">
      <div th:replace="${mainSection}"></div>
    </div>
  </section>

  <div th:replace="layout/footer :: footer"></div>
</main>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/token.js"></script>
<th:block th:replace="${scriptSection}"></th:block>
</body>

</html>
