<!DOCTYPE html>
<html lang="ko"
      th:replace="~{layout/mainLayout :: layout(~{::mainSection}, ~{::scriptSection})}"
      xmlns:th="http://www.thymeleaf.org">
<mainSection>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <input type="hidden" id="article-id" th:value="${article.id}">
                    <div class="text-truncate text-center mb-2" th:text="${article.type}">제목</div>
                    <div class="text-truncate text-center fs-2 mb-3" th:text="${article.title}">제목</div>
                    <div class="row justify-content-end mb-2" id="mod-del-div">
                        <div class="col-12 text-truncate text-end">
                            <a th:href="@{|/new-article?id=${article.id}|}" class="mx-1 text-dark" style="cursor: pointer">수정</a>
                            <a id="delete-btn" class="mx-1 text-dark" style="cursor: pointer">삭제</a>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-6 text-truncate" th:text="${article.author}"></div>
                        <div class="col-6 text-truncate text-end">
                            <span th:text="${#temporals.format(article.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
                            <span th:if="${article.updatedAt != article.createdAt}">(수정됨)</span>
                        </div>
                    </div>
                    <hr>
                    <p class="" th:utext="${article.content}"></p>
                </article>
            </div>
        </div>
    </div>
</mainSection>
<scriptSection>
    <script src="/assets/js/article.js"></script>
</scriptSection>
</html>