<!DOCTYPE html>
<html lang="ko"
      th:replace="~{layout/mainLayout :: layout(~{::mainSection}, ~{::scriptSection})}"
      xmlns:th="http://www.thymeleaf.org">
<mainSection>
    <div class="container text-end">
        <button type="button" class="btn btn-secondary btn-sm mb-3" th:onclick="|location.href='@{/new-article}'|">글 등록</button>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 card mb-3" th:each="item : ${articles}">
                <div class="card-header card-header-tabs text-truncate" th:text="${item.title}"></div>
                <div class="card-body">
                    <p class="" th:text="${item.content}"></p>
                </div>
                <div class="card-body text-end">
                    <a th:href="@{/articles/{id}(id=${item.getId()})}" class="btn btn-secondary btn-sm justify-content-end">보러 가기</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/token.js"></script>
</mainSection>
<scriptSection></scriptSection>
</html>