<!DOCTYPE html>
<html lang="ko"
      th:replace="~{layout/subLayout :: layout(~{::mainSection}, ~{::scriptSection})}"
      xmlns:th="http://www.thymeleaf.org">

<mainSection>
    <section class="d-flex">
        <div class="container-fluid row justify-content-center align-content-center">
            <div class="card text-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <h2 class="">회원가입</h2>
                    <p class="mt-2 mb-5">서비스 사용을 위한 회원 가입</p>

                    <div class = "mb-2">
                        <form th:action="@{/user}" method="POST">
                            <!-- 토큰을 추가하여 CSRF 공격 방지 -->
                            <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                            <div class="mb-3">
                                <label class="form-label">Email address</label>
                                <input th:if="${email} == null" type="email" class="form-control" name="email">
                                <input th:if="${email} != null" type="email" class="form-control" name="email" th:value="${email}" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">name</label>
                                <input th:if="${name} == null" type="text" class="form-control" name="nickname">
                                <input th:if="${name} != null" type="text" class="form-control" name="nickname" th:value="${name}" readonly>
                            </div>

                            <button type="submit" class="btn btn-primary">회원가입</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</mainSection>
<scriptSection></scriptSection>
</html>